{% extends 'base.html' %}
{% load static %}
{% block title %}测试集合{% endblock %}
{% block content %}

<script>
    //页面加载的时候,所有的复选框都是未选中的状态
    function checkOrCancelAll() {
        var all_check = document.getElementById("all_check");//1.获取all的元素对象
        var all_check = all_check.checked;//2.获取选中状态
        var allCheck = document.getElementsByName("testsuit_list");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
        //4.循环遍历取出每一个复选框中的元素
        if (all_check)//全选
        {
            for (var i = 0; i < allCheck.length; i++) {
                //设置复选框的选中状态
                allCheck[i].checked = true;
            }
        } else//取消全选
        {
            for (var i = 0; i < allCheck.length; i++) {
                allCheck[i].checked = false;
            }
        }

    }

    function ischecked() {
        var allCheck = document.getElementsByName("testsuit_list");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
        for (var i = 0; i < allCheck.length; i++) {

            if (allCheck[i].checked == true) {
                alert("提交测试集合运行任务成功！");
                return true
            }
        }
        alert("请选择要执行的测试集合！")
        return false
    }

</script>


<form action="" method="POST">
    {% csrf_token %}

    <span style="margin-left: 5px;">延迟执行的时间（单位：秒）:</span>
    <input type="text" style="width: 70px; margin-left: 5px; margin-right: 10px;" placeholder="请输入" name="delay_time"/>
<span style="margin-left: 5px;">运行环境：</span>
    <span style="margin-left: 5px;">运行环境：</span>
    <select name="env">
        <option selected value="test">test</option>
        <option value="prod">prod</option>
    </select>
    <input style="margin-left: 10px;" type="submit" id="all_check1" value='运行测试集合' onclick="return ischecked()"/>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" id="all_check" onclick="checkOrCancelAll();"/>全选</th>
                <th>序号</th>
                <th>测试集合名称</th>
                <th>创建者</th>
                <th>创建时间</th>
                <th>集合测试用例</th>
                <th>管理集合测试用例</th>
                <th>测试集合执行结果</th>
            </tr>
            </thead>
            <tbody>

            {% for testsuit in testsuits %}
            <tr>
                <td><input type="checkbox" value="{{ testsuit.id }}" name="testsuit_list"></td>
                <td>{{ testsuit.id }}</td>
                <td>{{ testsuit.suite_desc }}</td>
                <td>{{ testsuit.creator }}</td>
                <td>{{ testsuit.create_time|date:"Y-n-d H:i" }}</td>
                <td><a href="{% url 'suitcases' testsuit.id %}">查看/删除集合测试用例</a></td>
                <td><a href="{% url 'managesuit' testsuit.id %}">添加集合测试用例</a></td>
                <td><a href="{% url 'testSuitStatistics' testsuit.id %}">查看测试集合执行结果</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>

{# 实现分页标签的代码 #}
{# 这里使用 bootstrap 渲染页面 #}
<div id="pages" class="text-center">
    <nav>
        <ul class="pagination">
            <li class="step-links">
                {% if testsuits.has_previous %}
                <a class='active' href="?page={{ testsuits.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    第 {{ testsuits.number }} 页/共 {{ testsuits.paginator.num_pages }} 页</span>

                {% if testsuits.has_next %}
                <a class='active' href="?page={{ testsuits.next_page_number }}">下一页</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
